<header>
  <div class="apple">
  <img src="/assets/mask.png" class="hoge", size: '200x200'>
    <h1>Geek With</h1>
  </div>
</header>

<main class="all">
  <div class="next">
    <div class="picture">
      <div class="center"><%= image_tag @user.image_url, size: "20x20" if @user.image? %></div>

        <%= @user.name %></p>

        <%= render 'relationships/follow_button', user: @user %>
    </div>

    <i class="fa-regular fa-clipboard fa-1.5x"></i><b>profile</b>
    <p>大学: <%= @user.email %></p>
    <p>進路 : <%= @user.profile %></p>
    <p>趣味 : <%= @user.profile %></p>
    <p>役職 : <%= @user.profile %></p>

    <i class="fa-regular fa-clipboard fa-1.5x"></i><b>will</b>
    <br>
    <i class="fa-regular fa-clipboard fa-1.5x"></i><b>Reasons for mentor</b>

  </div>
</main>

<footer>
  <a class="fa-solid fa-house" href="../users"><p class="banana">HOME</P></a>
  <a class="fa-regular fa-comment-dots" href="../users"><p class="banana">Message</P></a>
  <a class="fa-solid fa-ice-cream" href="../users"><p class="banana">Ice Break</P></a>
  <a class="fa-regular fa-circle-user" href="../users"><p class="banana">Mentor</P></a>
</footer>