<!DOCTYPE html>
<html>
  <head>
    <title>Geekwith</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/cb256cd6b6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Kalam&family=Kosugi+Maru&family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Comfortaa:wght@600&family=Kalam&family=Kosugi+Maru&family=La+Belle+Aurore&display=swap" rel="stylesheet">
 
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
